.card {
  background-color: var(--ui-01);
  border-radius: var(--spacing-03);
  color: inherit;
  padding: var(--spacing-06);
  text-decoration: none;
  transition-duration: 200ms;
  transition-property: box-shadow, transform;

  &:hover {
    color: inherit;
    box-shadow: 0 5px var(--ui-03);
    transform: translateY(-5px);
  }
}

.date {
  display: block;
  margin-bottom: var(--spacing-05);
}
