.wrapper {
  background-color: var(--ui-background);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.main {
  flex-grow: 1;
  padding-bottom: var(--spacing-10);
  padding-top: var(--spacing-10);
}
