.articleBody {
  text-align: justify;
}

.externalIcon {
  margin-left: var(--spacing-02);
}

.articleBody :global {
  .footnote-ref:target sup,
  [role='doc-endnote']:target {
    background-color: var(--ui-01);
  }

  .footnotes[role='doc-endnotes'] {
    margin-top: var(--spacing-12);
  }

  .footnotes [role='doc-endnote'] > a {
    text-decoration: none;
  }

  .footnote-ref {
    text-decoration: none;

    :before {
      content: '[';
    }

    :after {
      content: ']';
    }
  }

  .footnote-back {
    margin-left: var(--spacing-04);
    text-decoration: none;
  }
}
