$lineWidth: #{var(--spacing-02)};
$dotWidth: #{var(--spacing-04)};

.grid {
  display: grid;
  grid-gap: var(--spacing-06);
  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    grid-gap: var(--spacing-08);
    grid-template-columns: 1fr 1fr;
  }

  &.hasMargin {
    margin-bottom: var(--spacing-10);
  }
}

.year {
  margin-bottom: calc(var(--spacing-04) - var(--spacing-06));

  @media (min-width: 768px) {
    grid-column: span 2;
    margin-bottom: calc(var(--spacing-04) - var(--spacing-08));
  }
}

.seeMore {
  display: block;
  text-decoration: none;
  text-align: center;

  &::before,
  &::after {
    content: '\2014';
  }

  &::before {
    margin-right: var(--spacing-02);
  }

  &::after {
    margin-left: var(--spacing-02);
  }
}
