.businessCard {
  background-color: var(--ui-02);
  border-radius: var(--spacing-04);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.avatarWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: var(--spacing-08);
  position: relative;

  @media (min-width: 768px) {
    padding-left: var(--spacing-10);
  }

  &:before {
    background-blend-mode: lighten;
    background-image:
            linear-gradient(to right, rgb(0, 64, 0), rgb(0, 192, 0)),
            linear-gradient(to bottom, rgb(0, 0, 64+16), rgb(0, 0, 192+16));
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    @media (min-width: 768px) {
      height: 100%;
      width: calc(50% + (var(--spacing-10) - var(--spacing-08)) / 2);
    }
  }
}

.avatar {
  background-color: var(--ui-02);
  border-radius: 50%;
  box-shadow: 0 0 0 4px var(--text-01);
  height: 12rem;
  min-width: 12rem;
  overflow: hidden;
  z-index: 1;
}

.info {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-08);
  margin: 0;

  @media (min-width: 768px) {
    padding-left: var(--spacing-04);
    padding-right: var(--spacing-10);
  }
}

.infoHeader {
  margin-bottom: var(--spacing-08);
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }

  .name {
    font-size: 1.75rem;
    font-weight: bold;
  }

  .profession {
    font-size: 0.95rem;
  }
}

.infoContent {
  flex-grow: 1;
  margin-bottom: var(--spacing-08);
}

.techStack {
  display: grid;
  grid-template-columns: repeat(auto-fit, 2.5rem);
  grid-gap: var(--spacing-04);
  justify-content: center;

  @media (min-width: 768px) {
    grid-gap: var(--spacing-05);
    justify-content: flex-start;
  }

  .techItem {
    align-items: center;
    background-color: var(--ui-01);
    border-radius: 50%;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    transition: box-shadow 200ms;
    width: 2.5rem;

    &:hover {
      box-shadow: 0 0 0 3px var(--tint-color);
    }
  }
}
