.footer {
  background-color: var(--ui-01);
  padding: var(--spacing-08) 0;
}

.footerContent {;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.footerElement {
  text-align: center;

  &:not(:last-child) {
    margin-bottom: var(--spacing-05);

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}

.link {
  text-decoration: none;
}

.spacer {
  margin: 0 var(--spacing-03);

  &:after {
    content: '\00B7'; // ·
  }
}
