.headerWrapper {
  background-color: var(--ui-01);
  color: var(--text-01);
}

.header {
  align-items: center;
  display: flex;
  padding-bottom: var(--spacing-05);
  padding-top: var(--spacing-05);
  flex-wrap: wrap;
}

.logo {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

.navigation {
  display: none;
  margin-left: auto;

  @media (min-width: 768px) {
    display: flex;
  }

  .navigationButton {
    &:not(:last-of-type) {
      margin-right: var(--spacing-03);
    }
  }
}

.navigationMobile {
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  width: 100%;

  @media (min-width: 768px) {
    display: none;
  }

  .navigationButton {
    &:first-of-type {
      margin-top: var(--spacing-06);
    }

    &:not(:last-of-type) {
      margin-bottom: var(--spacing-03);
    }

    &:last-of-type {
      margin-bottom: var(--spacing-04);
    }
  }
}

.burger {
  cursor: pointer;
  height: 3.5rem;
  margin-left: auto;
  padding: var(--spacing-04);
  user-select: none;
  width: 3.5rem;

  @media (min-width: 768px) {
    display: none;
  }
}
