.hero {
  background-blend-mode: lighten;
  background-image:
          linear-gradient(to right, rgb(0, 64, 0), rgb(0, 192, 0)),
          linear-gradient(to bottom, rgb(0, 0, 64+16), rgb(0, 0, 192+16));
  position: relative;
}

.heroContent {
  padding-bottom: var(--spacing-10);
  padding-top: var(--spacing-10);
  position: relative;
}

.heroCanvas {
  height: 100%;
  image-rendering: crisp-edges;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.description {
  margin-bottom: 0;
}
