.grid {
  display: grid;
  grid-gap: var(--spacing-06);
  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    grid-gap: var(--spacing-08);
    grid-template-columns: 1fr 1fr;
  }

  &.hasMargin {
    margin-bottom: var(--spacing-10);
  }
}

.seeMore {
  display: block;
  text-decoration: none;
  text-align: center;

  &::before,
  &::after {
    content: '\2014';
  }

  &::before {
    margin-right: var(--spacing-02);
  }

  &::after {
    margin-left: var(--spacing-02);
  }
}
