.button {
  border: var(--spacing-01) solid var(--text-01);
  color: var(--text-01);
  padding: var(--spacing-03);
  position: relative;
  text-decoration: none;

  &:hover {
    color: inherit;

    .buttonContentHover {
      height: 100%;
    }
  }
}

.buttonContent {
  display: block;
  height: 100%;
  width: 100%;
}

.buttonContentHover {
  composes: buttonContent;
  bottom: 0;
  background-color: var(--text-01);
  color: var(--ui-01);
  height: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  right: 0;
  transition: height 200ms;

  > span {
    bottom: 0;
    display: block;
    padding: var(--spacing-03);
    position: absolute;
  }
}
