:root,
.light-ui {
  --ui-background: #fff;

  --ui-01: #f4f4f4;
  --ui-02: #ffffff;
  --ui-03: #e0e0e0;

  --text-01: #161616;
  --text-02: #525252;

  --link-01: #0f62fe;
  --hover-primary-text: #0043ce;

  --focus: #0f62fe;
}

.dark-ui {
  --ui-background: #161616;

  --ui-01: #262626;
  --ui-02: #393939;
  --ui-03: #393939;

  --text-01: #f4f4f4;
  --text-02: #c6c6c6;

  --link-01: #78a9ff;
  --hover-primary-text: #a6c8ff;

  --focus: #ffffff;
}
