@import '~@fontsource/inter/400.css';
@import '~@fontsource/inter/600.css';
@import '~@fontsource/nunito/600.css';
@import '~@fontsource/jetbrains-mono/600.css';

:root {
  --bs-font-sans-serif: 'Inter', sans-serif !important;
  --bs-font-monospace: 'JetBrains Mono', monospace !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.header-font {
  font-family: 'Nunito', sans-serif;
}

