@use 'colors';
@use 'fonts';
@use 'spacing';

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

:root, .dark-ui {
  --bs-body-color: var(--text-01);
  color: var(--bs-body-color);
}

a {
  color: var(--link-01);
  transition: color 200ms;

  &:hover {
    color: var(--hover-primary-text);
  }

  &:active {
    color: var(--text-01);
  }

  &:focus-visible {
    outline: solid 1px var(--focus);
  }
}
